---
export interface Props {
  title: string;
  description: string;
  link: string;
}

const { title, description, link } = Astro.props;
---

<div class="group hover:bg-background flex flex-col space-y-4 rounded-lg p-6 transition-all">
  <div class="bg-primary/10 flex h-12 w-12 items-center justify-center rounded-lg text-emerald-700">
    <slot name="icon" />
  </div>
  <div class="space-y-2">
    <h3 class="text-xl font-medium">{title}</h3>
    <p class="text-muted-foreground">{description}</p>
  </div>
  <div class="mt-auto pt-2">
    <a
      href={link}
      class="text-primary inline-flex items-center text-sm font-medium"
    >
      Learn more
      <div class="ml-1 h-4 w-4">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </div>
    </a>
  </div>
</div>