name: Server CI (Lint)

on:
  push:
    branches: ["main"]
    paths:
      - "apps/server/**"
      - "packages/share/**"
  pull_request:
    branches: ["main"]
    paths:
      - "apps/server/**"
      - "packages/share/**"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install workspace dependencies
        run: bun install

      - name: Copy .env.example files
        shell: bash
        run: find . -type f -name ".env.example" -exec sh -c 'cp "$1" "${1%.*}"' _ {} \;

      - name: Run ESLint
        run: bun run lint
        working-directory: ./apps/server

      - name: Run Prettier Check
        run: bunx prettier --check .
        working-directory: ./apps/server

      - name: Run Type Check
        run: bun run typecheck
        working-directory: ./apps/server
